doctype html
html
    head
        title my first jade
        link(rel="stylesheet/less" type="text/css" href="style.less")
        script(src="less.js" type="text/javascript")
    body
        header
            img(alt="logo" src="images/logo.png")
            address
                ul.address
                    li г.Киев, ул. Здолбуновская, 7Г
                    li info@atlanta-cc.com.ua

                ul.telephone-adress
                    li (044) 459-70-04
                    li (044) 459-70-04


    main
        footer
