* {
  padding: 0;
  margin: 0;
}
body {
  background-repeat: no-repeat;
  background-position: 0 , 100%;
  background-image: url("images/bk_top.png"), url("images/bk_bottom.png");
  width: 1000px;
  margin: 0 auto;
  margin-left: 15px;
  height: 1500px;
  font-family: Arial;
  color: white;
  color: red;
}
header {
  height: 156px;
}
header img {
  float: left;
  margin-top: 4px;
}
address ul {
  list-style: none;
  float: right;
}
